<?xml version="1.0"?>
<ArrayOfParaModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>34</Index>
    <Type>2</Type>
    <Name>转速环Kp</Name>
    <Value>0.0</Value>
  </ParaModel> 
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>35</Index>
    <Type>2</Type>
    <Name>转速环Ki</Name>
    <Value>0.0</Value>
  </ParaModel>
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>36</Index>
    <Type>2</Type>
    <Name>电流环Kp</Name>
    <Value>0</Value>
  </ParaModel>
    <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>37</Index>
    <Type>2</Type>
    <Name>电流环Ki</Name>
    <Value>0</Value>
  </ParaModel>
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>38</Index>
    <Type>2</Type>
    <Name>电压环Kp</Name>
    <Value>0</Value>
  </ParaModel>
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>39</Index>
    <Type>2</Type>
    <Name>电压环Ki</Name>
    <Value>0</Value>
  </ParaModel>
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>40</Index>
    <Type>2</Type>
    <Name>报警℃</Name>
    <Value>0</Value>
  </ParaModel>
</ArrayOfParaModel>