<?xml version="1.0"?>
<ArrayOfParaModelWithCommand xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ParaModelWithCommand>
    <IsValueChanged>false</IsValueChanged>
    <Index>16</Index>
    <Type>2</Type>
    <Name>IdRef</Name>
    <Value>2.3</Value>
    <ValueChangeStep>0</ValueChangeStep>
  </ParaModelWithCommand>
  <ParaModelWithCommand>
    <IsValueChanged>false</IsValueChanged>
    <Index>17</Index>
    <Type>2</Type>
    <Name>IqRef</Name>
    <Value>2.3</Value>
    <ValueChangeStep>0</ValueChangeStep>
  </ParaModelWithCommand>
  <ParaModelWithCommand>
    <IsValueChanged>false</IsValueChanged>
    <Index>18</Index>
    <Type>2</Type>
    <Name>OmigaRef</Name>
    <Value>2.3</Value>
    <ValueChangeStep>0</ValueChangeStep>
  </ParaModelWithCommand>
  <ParaModelWithCommand>
    <IsValueChanged>false</IsValueChanged>
    <Index>19</Index>
    <Type>2</Type>
    <Name>PosError</Name>
    <Value>2.3</Value>
    <ValueChangeStep>0</ValueChangeStep>
  </ParaModelWithCommand>
  <ParaModelWithCommand>
    <IsValueChanged>false</IsValueChanged>
    <Index>20</Index>
    <Type>2</Type>
    <Name>Direction</Name>
    <Value>1</Value>
    <ValueChangeStep>0</ValueChangeStep>
  </ParaModelWithCommand>
  <ParaModelWithCommand>
    <IsValueChanged>false</IsValueChanged>
    <Index>21</Index>
    <Type>2</Type>
    <Name>Mode</Name>
    <Value>1</Value>
    <ValueChangeStep>0</ValueChangeStep>
  </ParaModelWithCommand>

</ArrayOfParaModelWithCommand>