<?xml version="1.0"?>
<ArrayOfParaModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>0</Index>
    <Type>2</Type>
    <Name>电压</Name>
    <Value>2.3</Value>
  </ParaModel>
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>1</Index>
    <Type>2</Type>
    <Name>温度</Name>
    <Value>2.3</Value>
  </ParaModel>
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>2</Index>
    <Type>2</Type>
    <Name>转速</Name>
    <Value>2.3</Value>
  </ParaModel>
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>3</Index>
    <Type>2</Type>
    <Name>位置</Name>
    <Value>2.3</Value>
  </ParaModel>
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>4</Index>
    <Type>2</Type>
    <Name>Iq</Name>
    <Value>2.3</Value>
  </ParaModel>
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>5</Index>
    <Type>2</Type>
    <Name>Id</Name>
    <Value>2.3</Value>
  </ParaModel>
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>6</Index>
    <Type>2</Type>
    <Name>Uq</Name>
    <Value>2.3</Value>
  </ParaModel>
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>7</Index>
    <Type>2</Type>
    <Name>Ud</Name>
    <Value>2.3</Value>
  </ParaModel>
</ArrayOfParaModel>