<?xml version="1.0"?>
<ArrayOfParaModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>0</Index>
    <Type>2</Type>
    <Name>Id</Name>
    <Value>0.0</Value>
  </ParaModel>
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>1</Index>
    <Type>2</Type>
    <Name>Iq</Name>
    <Value>0.0</Value>
  </ParaModel>
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>2</Index>
    <Type>2</Type>
    <Name>Vdc</Name>
    <Value>0.0</Value>
  </ParaModel>
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>3</Index>
    <Type>2</Type>
    <Name>rpm</Name>
    <Value>0.0</Value>
  </ParaModel>
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>4</Index>
    <Type>2</Type>
    <Name>S/℃</Name>
    <Value>0.0</Value>
  </ParaModel>
  <ParaModel>
    <IsValueChanged>false</IsValueChanged>
    <Index>5</Index>
    <Type>2</Type>
    <Name>M/℃</Name>
    <Value>0.0</Value>
  </ParaModel>
</ArrayOfParaModel>